<include href="views/includes/header.html"></include>
<body>

<include href="views/includes/navbar.html"></include>

<main class="container bg-light rounded p-2">
    <h1>Job Openings Mailing Lists</h1>
    <hr>
    <form action="summary" method="get">
        <p><b>Software Development Jobs</b></p>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <div>
                        <input id="js" name="mailing[]" type="checkbox" value="js">
                        <label class="form-label" for="js">JavaScript</label>
                    </div>
                    <div>
                        <input id="html" name="mailing[]" type="checkbox" value="html">
                        <label class="form-label" for="html">HTML</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <div>
                        <input id="php" name="mailing[]" type="checkbox" value="php">
                        <label class="form-label" for="php">PHP</label>
                    </div>
                    <div>
                        <input id="css" name="mailing[]" type="checkbox" value="css">
                        <label class="form-label" for="css">CSS</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <div>
                        <input id="java" name="mailing[]" type="checkbox" value="java">
                        <label class="form-label" for="java">Java</label>
                    </div>
                    <div>
                        <input id="reactjs" name="mailing[]" type="checkbox" value="reactjs">
                        <label class="form-label" for="reactjs">ReactJS</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <div>
                        <input id="nodejs" name="mailing[]" type="checkbox" value="nodejs">
                        <label class="form-label" for="nodejs">NodeJS</label>
                    </div>
                    <div>
                        <input id="python" name="mailing[]" type="checkbox" value="python">
                        <label class="form-label" for="python">Python</label>
                    </div>
                </div>
            </div>
        </div>
        <p><b>Industry Verticals</b></p>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <div>
                        <input id="saas" name="mailing[]" type="checkbox" value="saas">
                        <label class="form-label" for="saas">SaaS</label>
                    </div>
                    <div>
                        <input id="industrial-tech" name="mailing[]" type="checkbox" value="industrial-tech">
                        <label class="form-label" for="industrial-tech">Industrial tech</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <div>
                        <input id="health-tech" name="mailing[]" type="checkbox" value="health-tech">
                        <label class="form-label" for="heatlh-tech">Health Tech</label>
                    </div>
                    <div>
                        <input id="cybersecurity" name="mailing[]" type="checkbox" value="cybersecurity">
                        <label class="form-label" for="cybersecurity">Cybersecurity</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <div>
                        <input id="ag-tech" name="mailing[]" type="checkbox" value="ag-tech">
                        <label class="form-label" for="ag-tech">AG tech</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <div>
                        <input id="hr-tech" name="mailing[]" type="checkbox" value="hr-tech">
                        <label class="form-label" for="hr-tech">HR tech</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <button class="col btn btn-primary">Next</button>
        </div>
    </form>
</main>

<include href="views/includes/footer.html"></include>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>