/* Button Styles */

.btn-primary {
    background-color: #00AA00;
    border-color: #00AA00;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #55AA00;
    border-color: #55AA00;
    color: #FFFFFF;
}